In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

weather = pd.read_csv('/Users/cekr/mids-datasci200-summer24-Clara-Rhoades/Project 2/brweather2011present.csv')

/var/folders/89/572hqr1x26j5sf69pfl_2fd80000gn/T/ipykernel_10605/127203583.py:6: DtypeWarning: Columns (4,6,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42) have mixed types. Specify dtype option on import or set low_memory=False.
  weather = pd.read_csv('/Users/cekr/mids-datasci200-summer24-Clara-Rhoades/Project 2/brweather2011present.csv')

In [2]:
# function to get value counts on a dataframe
def val_counts(dataframe):
    for col in dataframe.columns:
        print(f'Column name: {col}')
        print(dataframe[col].value_counts(dropna=False))
        print('-' * 50)
        print('')

Cleaning tasks
- drop: 'STATION', weather types that aren't 3,8,11,16, all weather type attributes
- change type 'DATE' to datetime
- change col names
    - AWND to AWND = Average daily wind speed (meters per second or miles per hour as per user preference)
    - PGTM to PGTM = Peak gust time (hours and minutes, i.e., HHMM)
    - PRCP = Precipitation (mm or inches as per user preference, inches to hundredths on Daily Form pdf file)
    - TMAX = Maximum temperature (Fahrenheit)
    - TMIN = Minimum temperature (Fahrenheit)
    - WSF2 = Fastest 2-minute wind speed (miles per hour or meters per second as per user preference)
    - WSF5 = Fastest 5-second wind speed (miles per hour or meters per second as per user preference)
    - WT03 = Thunder
        - 1.0 = present; NaN = not present
    - WT08 = Smoke or haze 
    - WT11 = High or damaging winds
    - WT16 = Rain (may include freezing rain, drizzle, and freezing drizzle)

In [3]:
# look at all the cols when head is called 
pd.set_option('display.max_columns', None)

In [4]:
# drop cols
drop_cols = ['STATION','WT01', 'WT02', 'WT04', 'WT05', 'WT06', 'WT13', 'WT17', 'WT19', 'WT21']
for col in weather.columns:
    if 'ATTRIBUTES' in col:
        drop_cols.append(col)

weather.drop(drop_cols,axis=1,inplace=True)

In [5]:
weather.head()

,NAME,DATE,AWND,PGTM,PRCP,TMAX,TMIN,WSF2,WSF5,WT03,WT08,WT11,WT16
0,"ADDIS 1.7 N, LA US",2013-08-23,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"ADDIS 1.7 N, LA US",2013-09-14,NaN,NaN,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ADDIS 1.7 N, LA US",2013-09-20,NaN,NaN,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ADDIS 1.7 N, LA US",2013-09-21,NaN,NaN,3.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ADDIS 1.7 N, LA US",2013-09-22,NaN,NaN,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# rename cols
new_cols = []
for col in weather.columns:
    if col == 'NAME':
        col = 'name'
    if col == 'DATE':
        col = 'date'
    if col == 'AWND':
        col = 'avg_wind_sp'
    if col == 'PGTM':
        col = 'peak_gust'
    if col == 'PRCP':
        col = 'precip'
    if col == 'TMAX':
        col = 'max_temp'
    if col == 'TMIN':
        col = 'min_temp'
    if col == 'WSF2':
        col = '2min_windsp'
    if col == 'WSF5':
        col = '5sec_windsp'
    if col == 'WT03':
        col = 'thunder'
    if col == 'WT08':
        col = 'smoke_or_haze'
    if col == 'WT11':
        col = 'high_or_dmg_winds'
    if col == 'WT16':
        col = 'rain'
    new_cols.append(col)

In [7]:
new_cols

['name',
 'date',
 'avg_wind_sp',
 'peak_gust',
 'precip',
 'max_temp',
 'min_temp',
 '2min_windsp',
 '5sec_windsp',
 'thunder',
 'smoke_or_haze',
 'high_or_dmg_winds',
 'rain']

In [8]:
weather.head()

,NAME,DATE,AWND,PGTM,PRCP,TMAX,TMIN,WSF2,WSF5,WT03,WT08,WT11,WT16
0,"ADDIS 1.7 N, LA US",2013-08-23,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"ADDIS 1.7 N, LA US",2013-09-14,NaN,NaN,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ADDIS 1.7 N, LA US",2013-09-20,NaN,NaN,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ADDIS 1.7 N, LA US",2013-09-21,NaN,NaN,3.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ADDIS 1.7 N, LA US",2013-09-22,NaN,NaN,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# set new col names
weather.columns = new_cols
weather.head()

,name,date,avg_wind_sp,peak_gust,precip,max_temp,min_temp,2min_windsp,5sec_windsp,thunder,smoke_or_haze,high_or_dmg_winds,rain
0,"ADDIS 1.7 N, LA US",2013-08-23,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"ADDIS 1.7 N, LA US",2013-09-14,NaN,NaN,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ADDIS 1.7 N, LA US",2013-09-20,NaN,NaN,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ADDIS 1.7 N, LA US",2013-09-21,NaN,NaN,3.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ADDIS 1.7 N, LA US",2013-09-22,NaN,NaN,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110139 entries, 0 to 110138
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   name               110139 non-null  object
 1   date               110139 non-null  object
 2   avg_wind_sp        4944 non-null    float64
 3   peak_gust          360 non-null     float64
 4   precip             108366 non-null  float64
 5   max_temp           7976 non-null    float64
 6   min_temp           7978 non-null    float64
 7   2min_windsp        4947 non-null    float64
 8   5sec_windsp        4910 non-null    float64
 9   thunder            2020 non-null    float64
 10  smoke_or_haze      619 non-null     float64
 11  high_or_dmg_winds  13 non-null      float64
 12  rain               309 non-null     float64
dtypes: float64(11), object(2)
memory usage: 10.9+ MB

In [11]:
# change dtype of date
weather['date'] = pd.to_datetime(weather['date'])

In [12]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110139 entries, 0 to 110138
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   name               110139 non-null  object
 1   date               110139 non-null  datetime64[ns]
 2   avg_wind_sp        4944 non-null    float64
 3   peak_gust          360 non-null     float64
 4   precip             108366 non-null  float64
 5   max_temp           7976 non-null    float64
 6   min_temp           7978 non-null    float64
 7   2min_windsp        4947 non-null    float64
 8   5sec_windsp        4910 non-null    float64
 9   thunder            2020 non-null    float64
 10  smoke_or_haze      619 non-null     float64
 11  high_or_dmg_winds  13 non-null      float64
 12  rain               309 non-null     float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 10.9+ MB

In [13]:
weather.head()

,name,date,avg_wind_sp,peak_gust,precip,max_temp,min_temp,2min_windsp,5sec_windsp,thunder,smoke_or_haze,high_or_dmg_winds,rain
0,"ADDIS 1.7 N, LA US",2013-08-23,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"ADDIS 1.7 N, LA US",2013-09-14,NaN,NaN,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ADDIS 1.7 N, LA US",2013-09-20,NaN,NaN,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ADDIS 1.7 N, LA US",2013-09-21,NaN,NaN,3.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ADDIS 1.7 N, LA US",2013-09-22,NaN,NaN,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
weather.to_csv('weather_cleaned.csv')